export DOTFILES=$HOME/.dotfiles/shell
export ZSH=$DOTFILES/.oh-my-zsh

ZSH_THEME="geoffgarside"

plugins=(git web-search gem httpie) # https://github.com/ohmyzsh/ohmyzsh/wiki/Plugins

source $ZSH/oh-my-zsh.sh
source $DOTFILES/aliases
source $DOTFILES/env